streamlit
spacy==2.3.0
https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-2.3.0/de_core_news_sm-2.3.0.tar.gz
datenguidepy
matplotlib
dash
dash_bio
flask
numpy
io
random
os
plotly
six
