<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      Cache-Control:
      max-age="0,"
      must-revalidate
    />
    <title>Chatbot</title>
    <link
      rel="icon"
      type="image/vnd.microsoft.icon"
      href="/static/images/favicon.ico"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  </head>

  <body>
    <div id="container">
      <div id="plot-head">
        <div id="plot-head-img">
          <img src="/static/images/header.png" />
        </div>
      </div>

      <div id="chat-head">
        <div id="chat-head-img">
          <img src="/static/images/icon1.png" />
        </div>
        <div id="bot-name">
          <h4>Charlie</h4>
          <h6>by CorrelAidX Munich</h6>
        </div>
        <div id="head-icon">
          <a href="https://datengui.de/">
            <i class="fa fa-info-circle"></i>
          </a>
          <i class="fa fa-refresh" onclick="restart();"></i>
        </div>
      </div>

      <div id="chat-box">
        <div class="msg-inbox">
          <div class="chats">
            <div class="received-chats">
              <div class="received-chats-img">
                <img src="/static/images/icon1.png" />
              </div>
              <div class="received-msg">
                <div class="received-msg-inbox">
                  <p>
                    Griaß di! Ich bin da Charlie, ein Chatbot zu Bayern. Ich
                    kann Dir mithilfe von Datenguide verschiedene Statistiken
                    und Informationen über Bayern zeigen. Wie heißt Du denn?
                  </p>
                  <span class="time" name="time_"> </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="plot-box">
        <div id="plotter">
          <img id="chart" src="" />
        </div>
      </div>

      <div id="chat-bottom">
        <div id="bottom-box">
          <div id="link" class="bottom-icons">
            <div href="" style="color: #fff">
              <i
                class="fa fa-download"
                style="color: #fff; padding: 5px; cursor: pointer"
              >
              </i
              >csv Datei
            </div>
          </div>
          <div id="input-group">
            <input
              id="textInput"
              type="text"
              class="form-control"
              placeholder="Gib eine Antwort ein..."
            />
            <i
              class="fa fa-paper-plane"
              onclick="if ($('#textInput').val() != '') {getResponse()}"
              style="
                width: 10%;
                margin-top: -18px;
                color: #3863a2;
                float: right !important;
                cursor: pointer;
              "
            ></i>
          </div>
        </div>
      </div>
      <div id="plot-bottom"></div>
    </div>

    <script>
      function getDateStamp() {
        let date;
        date = new Date();
        let strArray = [
          'Jan',
          'Feb',
          'Mar',
          'Apr',
          'May',
          'Jun',
          'Jul',
          'Aug',
          'Sep',
          'Oct',
          'Nov',
          'Dec',
        ];
        let d = date.getDate();
        let m = strArray[date.getMonth()];
        let m_ = date.getMinutes();
        let h = date.getHours();
        let stri;
        stri =
          '' +
          (h <= 9 ? '0' + h : h) +
          ':' +
          (m_ <= 9 ? '0' + m_ : m_) +
          ' | ' +
          m +
          ' ' +
          (d <= 9 ? '0' + d : d);
        return stri;
      }
      document.getElementsByName('time_')[0].innerHTML = getDateStamp();
    </script>

    <script>
      function updateScroll() {
        var element = document.getElementById('chat-box');
        element.scrollTo(0, element.scrollHeight);
      }
      function getChart() {
        var image = document.getElementById('chart');
        image.src = '/static/images/plot.png#' + new Date().getTime();
        image.style = 'width: 100%; height: 100%; visibility: visible;';
      }

      function addLink() {
        formerbutton = document.getElementById('link');
        while (formerbutton.firstChild) {
          formerbutton.removeChild(formerbutton.firstChild);
        }
        link =
          '<a href="/download" style="color: #fff"><i class="fa fa-download" style="color: #fff; padding: 5px; cursor: pointer"> </i>csv Datei </a>';
        $('#link').append(link);
      }

      function restart() {
        window.location.reload(true);
        return false;
      }

      function setlast() {
        $.get('/resetLast', {}).done(function (data) {});
      }

      function getResponse() {
        let userText = $('#textInput').val();
        let userHtml =
          '<div class="outgoing-chats"><div class="outgoing-chats-msg"><p style="word-wrap: break-word;">' +
          userText +
          '</p><span class="time">' +
          getDateStamp() +
          '</span></div><div class="outgoing-chats-img"><img src="/static/images/icon2.png" /></div></div></div>';

        $('#textInput').val('');
        $('.chats').append(userHtml);
        updateScroll();

        $.get('/getGlobal', { msg: userText }).done(function (data) {
          var botHtml =
            '<div class="received-chats"><div class="received-chats-img"><img src="/static/images/icon1.png" /></div><div class="received-msg"><div class="received-msg-inbox"><p style="word-wrap: break-word;">' +
            data +
            '</p><span class="time" name="time_">' +
            getDateStamp() +
            '</span></div></div></div>';

          $('.chats').append(botHtml);
          updateScroll();

          $.get('/getPlot', {}).done(function (data) {
            if (data == 'True') {
              getChart();
              addLink();
            }
          });
        });
      }

      //EventListener für Enter; Der Click auf den Flieger ist direkt oben im html-Code integriert
      document
        .querySelector('#textInput')
        .addEventListener('keypress', function (e) {
          if (e.key === 'Enter') {
            if ($('#textInput').val() != '') {
              getResponse();
            }
          }
        });

      window.onload = setlast();
    </script>
  </body>
</html>
